{%extends "navbar.html" %}
{% block content %}
{%load static %}

<style>
    .h2 {
        font-family: 'Great Vibes';
        font-size: 10vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }

    .h3 {
        font-family: 'Great Vibes';
        font-size: 7vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }
</style>

<body>
    <div class="center">
    <div class="container-fluid">

            <div class="row"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="{% static "img/bispic.png" %}" class="img-responsive centerpic"></div>
            </div>
        <br><br>

        <div class="row">
            <div class="col-md-12 col-sm-12" id = "p1">
                <div class="w200" align="center">I am a diligent person who works hard and pays attention to
                    details. I am enthusiastic to learn and develop new skills that
                    revolves around designing and editing. I am also interested in
                    learning more languages.</div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    
        <div class="row">
            <div class="col-md-6 col-sm-6 my-auto">
                <img src="{% static "img/edu.png" %}">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <u class="h3">01</u>
                        <p class="h2">education</p></div>
                    </div>
                <br><br><br><br><br>
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="p2">
                        <p class="w400"><b>UNIVERSITAS INDONESIA • 2017</b></p>
                        <p class="w200">Information System</p><br>
                        <p class="w400"><b>SMAN 8 JAKARTA • 2017</b></p>
                        <p class="w200">High School</p><br>
                        <p class="w400"><b>SMPN 73 JAKARTA • 2014</b></p>
                        <p class="w200">Junior High School</p><br>
                        <p class="w400"><b>SDS BHAKTI YKKP • 2011</b></p>
                        <p class="w200">Elementary School</p><br>   
                        <p class="w400"><b>GS LUENEBURGER DAMM • 2008</b></p>
                        <p class="w200">Elementary School</p><br>
                        <p class="w400"><b>SDS BHAKTI YKKP • 2006</b></p>
                        <p class="w200">Elementary School</p><br>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <u class="h3">02</u>
                        <p class="h2">experiences</p>
                    </div>
                </div>
                <br><br><br><br><br>
                <div class="row">
                    <div class="col-md-12 col-sm-12" id="p2">
                        <p class="w400"><b>EXPO SUBSEKSI • 2015</b></p>
                        <p class="w200"> Decoration Staff</p><br>
                        <p class="w400"><b>MEDIA SISWA • 2014 - 2017</b></p>
                        <p class="w200">Film Division Member</p><br>
                        <p class="w400"><b>MEDIA SISWA • 2015 - 2016</b></p>
                        <p class="w200">PIC of Publication</p><br>
                        <p class="w400"><b>DELAPAN CHAMPIONSHIP • 2016</b></p>
                        <p class="w200">Documentation Staff</p><br>   
                        <p class="w400"><b>COMPUTERS GET TOGETHER • 2018</b></p>
                        <p class="w200">Public Relation Staff</p><br>
                        <p class="w400"><b>COMPFEST • 2018</b></p>
                        <p class="w200">Documentation Staff</p><br>
                        <p class="w400"><b>OPEN HOUSE FASILKOM • 2018</b></p>
                        <p class="w200">Vice PIC of Creative</p><br>
                        <p class="w400"><b>BEM FASILKOM UI • 2018</b></p>
                        <p class="w200">Staff of Media</p><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 my-auto">
                <br><br><br><br>
                <img src="{% static "img/exp.png" %}">
            </div>
        </div>
        </div>
    </div>
        
</body>
    
{% endblock %}