{%extends "navbar.html" %}
{% block content %}
{%load static %}
<style>

    .h4 {
        font-family: 'Great Vibes';
        font-size: 86px;
        color: #121212;
        letter-spacing: 5px;
        line-height: 90%;
    }
    </style>

<body>
    <div class="center">
    <div class="container-fluid">

        <br><br><br><br><br><br><br>
        
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <br><br>
                <img src="{% static "img/lineatas.png" %}">
                <br><br><br>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="h4">contact me</div>
            </div>
            <div class="col-md-4 col-sm-4">
                <br><br>
                <img src="{% static "img/lineatas.png" %}">
         </div>
            
        </div>
        <br><br><br><br>

        <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div class="row">
                            <div class="col-md-5 col-sm-5 icon centerpic">
                                <img src="{% static "img/email.png" %}"> </div>
                            <div class="col-md-7 col-sm-7 text-md-left">
                                <div class="w200" id="p4"><br><b>E-MAIL</b><br>putri.kinanti@ui.ac.id<br><br></div> </div>
                            </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                        <div class="row">
                                <div class="col-md-5 col-sm-5 icon centerpic">
                                    <img src="{% static "img/twitter.png" %}"> </div>
                                <div class="col-md-7 col-sm-7 text-md-left">
                                    <div class="w200"id="p4"><br><b>TWITTER</b><br>@Purrii_<br><br></div> </div>
                                </div>
                            </div>
                
                <div class="clearfix visible-xs"></div>
                <div class="col-xs-6 col-sm-3">
                        <div class="row">
                                <div class="col-md-5 col-sm-5 icon centerpic">
                                    <img src="{% static "img/ig.png" %}"> </div>
                                <div class="col-md-7 col-sm-7 text-md-left">
                                    <div class="w200"id="p4"><br><b>INSTAGRAM</b><br>@ptrkinanti</div> </div>
                                </div>
                            </div>
                <div class="col-xs-6 col-sm-3">
                        <div class="row">
                                <div class="col-md-5 col-sm-5 icon centerpic">
                                    <img src="{% static "img/line1.png" %}"> </div>
                                <div class="col-md-7 col-sm-7 text-md-left">
                                    <div class="w200"id="p4"><br><b>LINE</b><br>ptrkinanti</div> </div>
                                </div></div>
              </div>
              <br><br><br><br><br>
        <div class="row">
                <div class="col-md-12 col-sm-12" id = "p1">
                    <img src="{% static "img/Line.png" %}">
                </div>
            </div>
        <br><br><br><br><br>
        </div>
    </div>
        
</body>
    
{% endblock %}