{%extends "navbar.html" %}
{% block content %}
{%load static %}

<style>
    .h2 {
        font-family: 'Great Vibes';
        font-size: 10vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }

    .h3 {
        font-family: 'Great Vibes';
        font-size: 7vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 w300" id="p5">
                <section name="form">
                    <div class="center" id="h1">Send Schedule</div>
                    <br><br>
                    <form id="form" method="POST" action="{% url 'schedule' %}">
                        {% csrf_token %}
                        {{ sched.as_p }}
                        <br><br>
                        <div id = "p5"><button type="submit" class="btn btn-default">Submit</button>
                        <a href="{% url 'schedule' %}">See Schedule</a></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
{% endblock %}