{%extends "navbar.html" %}
{% block content %}
{%load static %}
<body>
    <div class="container-fluid">
        <div class="center">
            <br><br>

        <div class="row">
                <div class="col-md-12 col-sm-12" id = "h1">
                    Register Yourself
                </div>
            </div>
        
            <br><br><br>
        <form action="/action_page.php">
        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    NAME:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="text" name="firstname">
                    </div>
            </div><br>
        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    DATE OF BIRTH:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="date" name="birth date">
                    </div>
            </div> <br>
        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    E-MAIL:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="email" name="email">
                    </div>
            </div><br><br><br><br>
        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    USERNAME:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="text" name="username">
                    </div>
            </div><br>
        
        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    PASSWORD:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="password" name="password">
                    </div>
            </div><br>

        <div class="row">
                <div class="col-md-2 col-sm-0" id = "p5"></div>
                <div class="col-md-3 col-sm-12 text-md-left" id = "p5">
                    PASSWORD CONFIRMATION:
                </div>
                <div class="col-md-5 col-sm-12" id = "p5">
                    <input type="password" name="password">
                    </div>
            </div><br>

            <br><br>
        
        <div class="row">
            <div class="col-md-12 col-sm-12" id = "p5">
                <input type="submit" value="SUBMIT">
            </div>
        </div>
           </form> 
        </div>
    </div>
        
</body>
{% endblock %}