{%extends "navbar.html" %}
{% block content %}
{%load static %}

<body>

    <div class="center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" id = "h1">
                Hello!
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12" id = "p">
                <div class="w200">how would you like to know me?</div>
            </div>
        </div>
        <br><br>
        
        <div class="row">
            <div class="col-md-4 col-sm-4" id = "p">
                <a href="{% url 'business'%}"><img src="{% static "img/business.png" %}" class="img-responsive centerpic"></a>
                <p class="w200">business</p>
            </div>
            <div class="col-md-4 col-sm-4" id = "p">
                <a href="{% url 'personal'%}"><img src="{% static "img/personal.png" %}" class="img-responsive centerpic"></a>
                <p class="w200">personal</p><br>
            </div>
            <div class="col-md-4 col-sm-4" id = "p">
                <a href="{% url 'short'%}"><img src="{% static "img/shortintro.png" %}" class="img-responsive centerpic"></a>
                <p class="w200">short</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4" id = "p">
                <p class="w100"; align="left"><font size="3">art by: @novita_helviana</font></p>
            </div>
        </div>
                        
    </div>
        
</body>
{% endblock %}