<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>welcome!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleCSS.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    </head>

    <body>
        <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'main' %}">
                    <img class="homebutton" src="{% static "img/homebutton.png" %}" style="max-width: 48px"></a>
                <a href="{% url 'business' %}" class="center w200" id = "p"><font size="4">business</font></a>
                <a href="{% url 'personal' %}" class="center w200" id = "p"><font size="4">personal</font></a>
                <a href="{% url 'short' %}" class="center w200" id = "p"><font size="4">short intro</font></a>
                <a href="{% url 'contact' %}" class="center w200" id = "p"><font size="4"> contact</font></a>
                <a href="{% url 'guestbook' %}" class="center w200" id = "p"><font size="4">guest book</font></a>
                <a href="{% url 'schedule' %}" class="center w200" id = "p"><font size="4">schedule</font></a>
            </div>
            <div id="tab">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
            </div>
            <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "200px";
                    }
                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
            </script>
        {% block content %}
        {% endblock %}
    </body>
        
    </html>