{%extends "navbar.html" %}
{% block content %}
{%load static %}
<style>
    .h2 {
    font-family: 'Great Vibes';
    color: #121212;
    letter-spacing: 20px;
    line-height: 80%;
    margin-bottom: -60px;
}
    @media screen and (min-width: 1101px) {
        .h2 {
        font-size: 96px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h2 {
        font-size: 64px;
        }
    }
    </style>

<body>
    <div class="center">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 col-sm-6 my-auto">
                    <img src="{% static "img/personalpic.png" %}" class="img-responsive rounded float-left"></div>
            
            <div class="col-md-6 col-sm-6">
                    <div class="row">
                            <div class="hidden-xs col-md-12 col-sm-12">
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                            </div>
                        </div>
                <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="h2" align="left">
                                personal
                            </div>
        
                        </div>
                    </div>
                <br><br><br>
                <div class="row">
                        <div class="col-md-11 col-sm-11">
                                <p class="w200" id ="p3" align="justify">This <b>capricorn girl</b> was born on a tuesday in 1998. Here are some quick facts about me! I like traveling, the color blue, the smell of rain, drinking tea, listening to alternative songs, walks, baking cookies, and watching movies. I can speak three languages, Indonesian, English, and German. I’m not bright when it comes to programming, but hey, I’m still trying my best.</p>  
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
        </div>
        <br><br><br><br><br><br><br><br>
            <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img src="{% static "img/playlist.png" %}">
                    </div>
                    <div class="col-md-6 col-sm-6"></div>
                </div>
            <br>
        <div class="row">
                <br><br>
                <div class="col-md-12 col-sm-12" id="p2">
                    <p class="w400"><b>HYPOCRITE</b></p>
                    <p class="w200">Cage the Elephant - Melophobia</p><br>
                    <p class="w400"><b>THE RAIN</b></p>
                    <p class="w200">Oh Wonder - Oh Wonder</p><br>
                    <p class="w400"><b>UTARAKAN</b></p>
                    <p class="w200">Banda Neira - Yang Patah Tumbuh, Yang<br><br>Hilang Berganti</p><br>
                    <p class="w400"><b>MICHELLE</b></p>
                    <p class="w200">The Beatles - Rubber Soul</p><br>   
                    <p class="w400"><b>SHE</b></p>
                    <p class="w200">Green Day - Dookie</p><br>
                    <p class="w400"><b>FIRE ALARMS</b></p>
                    <p class="w200">Ed Sheeran - Songs I Wrote With Amy</p><br>
                    <p class="w400"><b>BLACK SUN</b></p>
                    <p class="w200">Death Cab for Cutie - Kintsugi</p><br>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
        
</body>

{% endblock %}