{%extends "navbar.html" %}
{% block content %}
{%load static %}

<style>
    .h2 {
        font-family: 'Great Vibes';
        font-size: 10vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }

    .h3 {
        font-family: 'Great Vibes';
        font-size: 7vw;
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
        margin-bottom: -60px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12" id="p5">
                <div class="center" id="h1">Schedule</div>
                <br>
                <table style="width:100%">
                    {% if schedules %}
                    <tr>
                        <th>Event Name</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Place</th>
                        <th>Category</th>
                    </tr>
                    {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.eventname }}</td>
                        <td>{{ schedule.day }}</td>
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.time }}</td>
                        <td>{{ schedule.place }}</td>
                        <td>{{ schedule.category }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <br>
                    <div class="w200" id="p1">There are no upcoming events</div>
                    <br>
                    {% endif %}
                </table>
                <br>
            </div>
            <div class="col-md-6 col-sm-6" id="p5">
                <a href="{% url 'createschedule' %}">Create Schedule</a></div>
            <div class="col-md-3 col-sm-3" id="p5"></div>
            <div class="col-md-3 col-sm-3" id="p5">
                <a href="{% url 'delete' %}">Delete Schedule</a></div>
        </div>
    </div>
    {% endblock %}
</body>