{%extends "navbar.html" %}
{% block content %}
{%load static %}
<style>
    .h2 {
        font-family: 'Great Vibes';
        color: #121212;
        letter-spacing: 20px;
        line-height: 80%;
    }

    @media screen and (min-width: 1101px) {
        .h2 {
        font-size: 96px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h2 {
        font-size: 64px;
        }
    }
    </style>

<body>
    <div class="center">
            <div class="container-fluid">

            <div class="row">
                <div class="col-md-7 col-sm-7">
                        <div class="row">
                                <div class="hidden-xs col-md-12 col-sm-12">
                                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-1 col-sm-1"></div>
                                <div class="col-md-11 col-sm-11">
                                    <div class="h2" align="left">short intro</div>
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-md-1 col-sm-1"></div>
                                <div class="col-md-10 col-sm-10">
                                        <p class="w200" id ="p1" align="justify">
                                            Hello! I live in Indonesia and I am an
                                            undergraduate student majoring
                                            in <b>Information System</b> at the <b>University of
                                            Indonesia.
                                            </b>
                                        </p>  
                                </div>
                                <div class="col-md-1 col-sm-1"></div>
                            </div>
                            <br><br><br>
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <img src="{% static "img/shortpic.png" %}" class="img-responsive rounded float-right">
                            </div>
                    </div>
                </div>
    </div>
</body>
    
{% endblock %}