.title {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    p {
        font-size: 20px;
    }
}

.p1 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    .p1 {
        font-size: 18px;
    }
}

.p2 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 1100px) {
    .p2 {
        font-size: 32px;
    }
}

.p3 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    line-height: 120%;
}

@media screen and (min-width: 1101px) {
    .p3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1100px) {
    .p3 {
        font-size: 24px;
    }
}

.p4 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    line-height: 120%;
}

@media screen and (min-width: 1101px) {
    .p4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .p4 {
        font-size: 14px;
    }
}

.middle {
    vertical-align: middle;
}

input[type=text], input[type=date], input[type=email], input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #F9D979;
    color: white;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgb(148, 143, 127);
}

input[id=submit_subscribe]:disabled {
    background-color: #c2c2c2;
    color: #8b8b8b;
}

.validate-input {
    position: relative;
}

.alert-validate2::before {
    content: attr(email-validate) !important;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #F9D979;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    font-family: Montserrat;
    color: #F9D979;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: Montserrat;
    display: block;
    position: absolute;
    color: #F9D979;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.box {
    background-color: #F9D979;
    color: white;
    margin-top: 13px; 
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
