<!DOCTYPE html>
{%load static %}
<html>

<head>
    <title>landing page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<style>
    .h1 {
    font-family: 'Great Vibes';
    letter-spacing: 2px;
    line-height: 70%;
}
    @media screen and (min-width: 1101px) {
        .h1 {
        font-size: 81px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h1 {
        font-size: 64px;
        }
    }
</style>

<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-3 col-sm-3">
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="h1">Hello, apa kabar?</p>
                    <p>describe how you feel</p>
                    <hr>
                </div>
                <div class="col-md-3 col-sm-3">
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12 col-sm-12 p" face="verdana">
                    <section name="form">
                        <br><br>
                        <form id="form" method="POST" action="{% url 'home' %}">
                            {% csrf_token %}
                            {% for a in form %}
                            <div class="p1">{{ a.label_tag }} <br> {{ a }}</div>
                            {% endfor %}
                            <button type="submit" class="btn btn-default box p3" id="submit" action="{% url 'home' %}">submit</button>
                        </form>
                    </section>
                    <a href="{% url 'profile' %}"><button type="button" class="btn btn-default box p3">profile</button></a>
                </div>
                <div class="row">
                    <br>
                    <a id="change" type="button" class="btn btn-default box p3"><span>click here to see some magic</span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 p1" face="verdana">
                    <br><br><br>
                    <table>
                        {% if allstatus %}
                        <tr>
                            <th>
                                <p class="p1"><i>S T A T U S</i></p>
                            </th>
                        </tr>
                        {% for a in allstatus %}
                        <tr>
                            <td>
                                <font size="4">{{ a.status }}</font>
                            </td>
                            <td>
                                <font size="4">{{ a.time }}</font>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <br><br>
                        <h3 class="text-center"><i>no status!</i></h3>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <div id="demo"></div>
        <div id="buttonjson"><button>Get JSON data</button></div> 

    </div>
</body>

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>

</html>