<!DOCTYPE html>
{% block content %}
{%load static %}
<html>

<head>
    <title>welcome!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>

<style>
    .h1 {
        font-family: 'Great Vibes';
        color: #121212;
        letter-spacing: 15px;
        line-height: 70%;
    }
        @media screen and (min-width: 1101px) {
            .h1 {
            font-size: 81px;
            }
        }
    
        @media screen and (max-width: 1100px) {
            .h1 {
            font-size: 64px;
            }
        }
    </style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 right">
                <a href="{% url 'home' %}"><button type="submit" class="btn btn-default box p3" id="submit" action="{% url 'home' %}">home</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 middle">
                <img src="{% static "img/personalpic.png" %}" class="img-responsive rounded float-left">
                <br><br><br>
                <div class="row">
                    <div id="accordion">
                        <div class="p2" style="background-color: #F9D979">Current Activities</div>
                        <div class="p4 w200">
                            I am an undergraduate student majoring in
                            <b>Information System</b> at the <b>University of Indonesia.</b>
                            I like to do yoga in my spare time, but I hardly have any time to even sleep.
                        </div>
                        <div class="p2">Organizations</div>
                        <div class="p4 center">
                            <div class="w400"><b>BEM FASILKOM UI • 2018</b></div>
                            <div class="w200">Staff of Media</div><br>
                            <div class="w400"><b>MEDIA SISWA • 2015 - 2016</b></div>
                            <div class="w200">PIC of Publication</div><br>
                            <div class="w400"><b>MEDIA SISWA • 2014 - 2017</b></div>
                            <div class="w200">Film Division Member</div><br>
                        </div>
                        <div class="p2" style="background-color: #F9D979">Committees</div>
                        <div class="p4 center">
                            <div class="w400"><b>OPEN HOUSE FASILKOM • 2018</b></div>
                            <div class="w200">Vice PIC of Creative</div><br>
                            <div class="w400"><b>COMPFEST X • 2018</b></div>
                            <div class="w200">Photography and Cinematography Staff</div><br>
                            <div class="w400"><b>COMPUTERS GET TOGETHER • 2018</b></div>
                            <div class="w200">Public Relation Staff</div><br>
                            <div class="w400"><b>DELAPAN CHAMPIONSHIP • 2016</b></div>
                            <div class="w200">Documentation Staff</div><br>
                            <div class="w400"><b>EXPO SUBSEKSI • 2015</b></div>
                            <div class="w200"> Decoration Staff</div><br>
                        </div>
                        <div class="p2">Achievements</div>
                        <div class="p4 w400 center">
                            <div><b>Cerdas Cermat Bahasa Jerman • 2016</b></div>
                            <br>
                            <div><b>FLS2N Cabang Film • 2016</b></div>
                            <br>
                            <div><b>Olimpiade Bahasa Jerman • 2015</b></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="hidden-xs col-md-12 col-sm-12">
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="h1" align="left">personal</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-11 col-sm-11">
                        <p class="w200" align="justify">This <b>capricorn girl</b> was born on a tuesday in 1998.
                            Here
                            are some quick facts about me! I like traveling, the color blue, the smell of rain,
                            drinking tea, listening to alternative songs, walks, baking cookies, and watching
                            movies. I
                            can speak three languages, Indonesian, English, and German. I’m not bright when it
                            comes to
                            programming, but hey, I’m still trying my best.</p>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    {% endblock %}
</body>

<script>
    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
</script>

</html>