{%load static %}
<!DOCTYPE html>

<html>

<head>
    <title>books books books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab9.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<style>
    .h1 {
        font-family: 'Great Vibes';
        letter-spacing: 2px;
        line-height: 100%;
        text-shadow: 3px 3px #F9D979;
    }

    @media screen and (min-width: 1101px) {
        .h1 {
            font-size: 81px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h1 {
            font-size: 64px;
        }
    }

    .yellow {
        background-color: #F9D979;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row center">
            <div class="col-md-12 col-sm-12">
                <p class="h1 center">Best Selling Books</p>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><div class="p1 w300">Login with Google</div></a><br>
            </div>
        </div>

        <div class="row center">
            <div class="col-md-12 col-sm-12 p1">
                <img src="https://image.flaticon.com/icons/png/512/616/616489.png" width='25px'> :
                <text id="counter">0</text>
            </div>
        </div>

        <br>
        <br>

        <div class="row justify-content-center p1 w400">
            <div class="col-md-12 col-sm-12">
                <div class="table-responsive">
                    <table id="content" class="table" style="font-size: 15px;">
                        <thead>
                            <tr class="table">
                                <th scope="col" class="center align-middle yellow">No.</th>
                                <th class="center yellow"></th>
                                <th scope="col" class="center align-middle yellow">Title</th>
                                <th scope="col" class="center align-middle yellow">Authors</th>
                                <th scope="col" class="center align-middle yellow">Publisher</th>
                                <th scope="col" class="center align-middle yellow">Published Date</th>
                                <th scope="col" class="center align-middle yellow">Add to Favorite(s)</th>
                            </tr>
                        </thead>
                    </table>
                    <script src="{% static 'js/data.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>