.h1 {
    font-family: 'Great Vibes';
    color: #121212;
    letter-spacing: 20px;
    line-height: 80%;
    margin-bottom: -60px;
}
    @media screen and (min-width: 1101px) {
        .h2 {
        font-size: 96px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h2 {
        font-size: 64px;
        }
    }

p {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

    @media screen and (min-width: 1101px) {
        #p {
        font-size: 26px;
        }
    }

    @media screen and (max-width: 1100px) {
        #p {
        font-size: 20px;
        }
    }

.p1 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

    @media screen and (min-width: 1101px) {
        #p {
        font-size: 48px;
        }
    }

    @media screen and (max-width: 1100px) {
        #p {
        font-size: 36px;
        }
    }