p {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    p {
        font-size: 20px;
    }
}

.p1 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    .p1 {
        font-size: 18px;
    }
}

.p2 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 1100px) {
    .p2 {
        font-size: 32px;
    }
}

.p3 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    line-height: 120%;
}

@media screen and (min-width: 1101px) {
    .p3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1100px) {
    .p3 {
        font-size: 24px;
    }
}

.p4 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    line-height: 120%;
}

@media screen and (min-width: 1101px) {
    .p4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .p4 {
        font-size: 14px;
    }
}

.middle {
    vertical-align: middle;
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.box {
    width: 300px;
    padding: 10px;
    border: 2px solid #121212;
    margin: 10px;
    box-shadow: 5px 4px #F9D979;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #F9D979;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }