body, html {
    height: 100%;
}

#h1 {
    font-family: 'Great Vibes';
    font-size: 144px;
    color: #F9D979;
    letter-spacing: 4px;
    line-height: 100%;
    margin-bottom: -20px;
    margin-top: -20px;
    text-shadow: 3px 3px black;
}

    @media screen and (min-width: 1101px) {
        #h1 {
        font-size: 144px;
        }
    }

    @media screen and (max-width: 1100px) {
        #h1 {
        font-size: 100px;
        }
    }

.h2 {
    font-family: 'Great Vibes';
    color: #121212;
    letter-spacing: 20px;
    line-height: 80%;
    margin-bottom: -60px;
}
    @media screen and (min-width: 1101px) {
        .h2 {
        font-size: 96px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h2 {
        font-size: 64px;
        }
    }

.h3 {
    font-family: 'Great Vibes';
    font-size: 7vw;
    color: #121212;
    letter-spacing: 20px;
    line-height: 80%;
    margin-bottom: -60px;
}

.h4 {
    font-family: 'Great Vibes';
    font-size: 96px;
    color: #121212;
    letter-spacing: 5px;
    line-height: 90%;
}
    @media screen and (min-width: 1101px) {
        .h4 {
        font-size: 96px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h4 {
        font-size: 64px;
        }
    }

#hc {
    font-family: 'Great Vibes';
    font-size: 10vw;
    color: #F9D979;
    letter-spacing: 4px;
    line-height: 100%;
    margin-bottom: -20px;
    margin-top: -10px;
    text-shadow: 3px 3px black;
}


#p {
    font-family: 'Montserrat';
    font-size: 32px;
    letter-spacing: 1px;
}

    @media screen and (min-width: 1101px) {
        #p {
        font-size: 32px;
        }
    }

    @media screen and (max-width: 1100px) {
        #p {
        font-size: 24px;
        }
    }

#p1 {
    font-family: 'Montserrat';
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 120%;
}
    @media screen and (min-width: 1101px) {
        #p1 {
        font-size: 32px;
        }
    }
    
    @media screen and (max-width: 1100px) {
        #p1 {
        font-size: 24px;
        }
    }

#p2 {
    font-family: 'Montserrat';
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 80%;
    }
    @media screen and (min-width: 1101px) {
        #p2 {
          font-size: 24px;
        }
      }
      
      @media screen and (max-width: 1100px) {
        #p2 {
          font-size: 16px;
        }
      }

#p3 {
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 130%;
    }

    @media screen and (min-width: 1101px) {
        #p3 {
        font-size: 28px;
        }
    }
    
    @media screen and (max-width: 1100px) {
        #p3 {
        font-size: 20px;
        }
    }

#p4 {
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: -20px;
    line-height: 140%;
    }

    @media screen and (min-width: 1101px) {
        #p4 {
        font-size: 16px;
        }
    }
    
    @media screen and (max-width: 1100px) {
        #p4 {
        font-size: 12px;
        }
    }

#p5 {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 140%;
    }

    @media screen and (min-width: 1101px) {
        #p5 {
        font-size: 20px;
        }
    }
    
    @media screen and (max-width: 1100px) {
        #p5 {
        font-size: 15px;
        }
    }

.linespace {
    margin-top: -15px;
}

.center {text-align: center;}

.right {text-align: right;}

.w100 {font-weight: 100;}

.w200 {font-weight: 200;}

.w300 {font-weight: 300;}

.w400 {font-weight: 400;}

.center {text-align: center;}

img {
    max-width: 100%;
    max-height: 100%;
}

.contain {object-fit: contain;}


.centerpic {
    margin-left: auto;
    margin-right: auto;
}

.middle{
    vertical-align: middle;
}

.icon {
    max-width: 94.27px; 
    max-height: 94px;
}


#tab {
    margin-left: 10px;/*or whatever indentation size you want*/
    top: 1%;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E5E5E5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 180px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FFB03A;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
}

.homebutton{
    margin: 0 auto;
    display: block;
}

