{%load static %}
<!DOCTYPE html>

<html>

{% csrf_token %}
<title>subs subs subs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'stylelab10.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
<script type="text/javascript" src="{% static 'lab10.js' %}"></script>
</head>

<style>
    .h1 {
        font-family: 'Great Vibes';
        letter-spacing: 2px;
        line-height: 100%;
        text-shadow: 3px 3px #F9D979;
    }

    @media screen and (min-width: 1101px) {
        .h1 {
            font-size: 81px;
        }
    }

    @media screen and (max-width: 1100px) {
        .h1 {
            font-size: 64px;
        }
    }
    .yellow {
    background-color: #F9D979;
}
</style>

<body>
    <div class="container w200">
        <br><br><br>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <p class="h1 center">Go Subscribe</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-7 col-md-7">
                        <br><br>
                        <div class="judul">
                            <form class="form_input" method="POST" class="p1">
                                {% csrf_token %}
                                <div class="validate-input title" data-validate="Name is required">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                </div>
                                <div class="validate-input title" data-validate="Valid email is required"
                                    email-validate="Email already registered">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="validate-input title" data-validate="Password is required">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <input disabled=true class="submit" id="submit_subscribe" type="submit" value="Register">
                                <br><br>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 center">
                        <img style="width: 70%" src="{% static 'image.png' %}" alt="subscribe">
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-sm-12">
                <p class="p1 center"><b>My Subscriber</b></p>
                <div class="table-responsive">
                    <div class="unsubSuccess">Unsubscribed!</div>
                    <table id="demo" class="table" style="font-size: 15px;">
                        <thead>
                            <tr class="table text-center">
                                <th scope="col" class="align-middle">No</th>
                                <th scope="col" class="align-middle">Name</th>
                                <th scope="col" class="align-middle">Email</th>
                                <th scope="col" class="align-middle">Unsubscribe</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>