p {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    p {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    p {
        font-size: 20px;
    }
}

.p1 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1100px) {
    .p1 {
        font-size: 18px;
    }
}

.p2 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

@media screen and (min-width: 1101px) {
    .p2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 1100px) {
    .p2 {
        font-size: 32px;
    }
}

.p4 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    line-height: 90%;
}

@media screen and (min-width: 1101px) {
    .p4 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .p4 {
        font-size: 10px;
    }
}

.middle {
    vertical-align: middle;
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
